/* Aula de flex box */

/* Página principal */

.container-principal{
    height: 500px;
    max-width: 300px;
    border: 2px solid black;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
}

.item-principal{    
    background-color: floralwhite;
    color: white;
    font-size: 40px;
    text-align: center; 
}

#title{
    text-align: center;
}

.title-right{
    text-align: right;
}

.flex {
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
}

.item {
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}

/* Aula de row e column */

.flex-container {
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    list-style: none;
    border: 2px solid black;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.row-reverse li {
    background-color: red;
}

.column {
    float: left;
    flex-direction: column;
}

.column li {
    background-color: orange;
}

.column-reverse {
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li {
    background-color: purple;
}

/* Aula de wrap (quebra de linha) */

.flex-container-wrap {
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 16px;
}

.flex-container-wrap-column {
    flex-direction: column;
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
}

.item-wrap {
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    margin: 5px;
}

.nowrap {
    flex-wrap: nowrap;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Aula de flex flow */

.flex-container-flow{
    display: flex;
    border: 2px solid black;
    max-width: 500px;
    margin: auto;
}

.row-nowrap{
    flex-flow: row nowrap;
}

.row-wrap{
    flex-flow: row wrap;
}

.row-wrap-reverse{
    flex-flow: row wrap-reverse;
}

.row-reverse-nowrap{
    flex-flow: row-reverse nowrap;
}

.row-reverse-wrap{
    flex-flow: row-reverse wrap;
}

.row-reverse-wrap-reverse{
    flex-flow: row-reverse wrap-reverse;
}
.item-flow{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

/* Aula justify content */

.container-justify{
    max-width: 500px;
    border: 2px solid black;
    margin: 0px;
    display: flex;
    margin-bottom: 10px;
    margin: auto;
}

.item-justify{
    background-color: chocolate;
    margin: 5px;
    color: white;
    text-align: center;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

/* Aula justify content column */

.column-justify{
    flex-direction: column;
    min-height: 200px;
}

.item-justify-column{
    background-color: plum;
    margin: 5px;
    color: white;
    text-align: center;
}

/* Aula de align items row */

.container-align-item{
    max-width: 500px;
    border: 2px solid black;
    display: flex;
    margin: auto;
}

.flex-align-item{
    flex: 1;
}

.item-align{
    background-color: forestgreen;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
    flex: 1;
}

.center-align-item{
    align-items: center;
}

.stretch-align-item{
    align-items: stretch;
}

.start-align-item{
    align-items: flex-start;
}

.end-align-item{
    align-items: flex-end;
}

.baseline-align-item{
    align-items: baseline;
}

/* Aula de align items column*/

.column-align-item{
    flex-direction: column;
}

.item-align-column{
    background-color: grey;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
    flex: 1;
}

/* Alinhamento central à tela */

.central{
    height: 300px;
    justify-content: center;
}

.central .item-align{
    flex: 0;
    padding: 20pxs;
}

/* Aula de align content */

.container-align-content{
    height: 400px;
    max-width: 300px;
    border: 2px solid black;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item-align-content{
    background-color: cornflowerblue;
    padding: 0 5px;
    color: white;
    text-align: center;
    flex: 1;
    margin: 5px;
}

.center-align-content{
    align-content: center;
}

.stretch-align-content{
    align-content: stretch;
}

.start-align-content{
    align-content: flex-start;
}

.end-align-content{
    align-content: flex-end;
}

.space-around-align-content{
    align-content: space-around;
}

.space-between-align-content{
    align-content: space-between;
}

/* Flex grow */

.container-grow{
    margin: auto;
    display: flex;
    max-width: 400px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.item-grow{
    background-color: lightcoral;
    text-align: center;
    margin: 5px;
    padding: 10px;
    color: white;
}

.fg-0{
    flex-grow: 0;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.fg-3{
    flex-grow: 3;
}

/* Aula de flex basis */

.container-basis{
    max-width: 300px;
    border: 2px solid black;
    display: flex;
    margin: auto;
}

.item-basis{
    background-color: lightsalmon;
    color: white;
    text-align: center;
    margin: 5px;
}

.bauto{
    flex-basis: auto;
}

.basis-0{
    flex-basis: 0;
}

.W100{
    flex-basis: 100px;
}

/* Aula de flex shrink */

.container-shrink{
    display: flex;
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
}

.item-shrink{
    margin: 5px;
    background-color: lightpink;
    font-size: 24px;
    text-align: center;
}

.flex-shrink{
    flex-shrink: 1;
}