.flex{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
}

.item{
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}

.flex-container{
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    list-style: none;
    border: 2px solid black;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
}

.column{
    float: left;
    flex-direction: column;
}

.column li{
    background-color: orange;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
}

.column-reverse li{
    background-color: purple;
}

.flex-container-new{
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 16px;
}

.flex-container-new-column{
    flex-direction: column;
    display: flex;
    height: 150px;
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 16px;
}

.item-new{
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
}

.nowrap{
    flex-wrap: nowrap;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.wrap{
    flex-wrap: wrap;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}